@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona-Sans-Regular.woff2') format('woff2'),
    url('/fonts/Mona-Sans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona-Sans-Bold.woff2') format('woff2'),
    url('/fonts/Mona-Sans-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url('/fonts/Hubot-Sans-Black.woff2') format('woff2'),
    url('/fonts/Hubot-Sans-Black.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
