---
import Color from "./Color.astro"
import Socials from "./Socials.astro"
import Project from "./Project.astro"
import { getCollection, getEntry } from "astro:content"
import { Image } from "astro:assets"
import portraitWood from "../assets/portraits/woodshop.jpg"
import portraitMetal from "../assets/portraits/mirror.jpg"

let allProjects = await getCollection("projects")
// sort by year, descending, then featured, true then false, then name
allProjects = allProjects.sort((a, b) => {
  if (a.data.year > b.data.year) return -1
  if (a.data.year < b.data.year) return 1
  if (a.data.feat && !b.data.feat) return -1
  if (!a.data.feat && b.data.feat) return 1
  if (a.data.name < b.data.name) return -1
  return 0
})
---

<header class="px-4 md:px-0 font-triple">
  <Color />

  <span
    class="max-md:hidden font-sans text-white bg-(--active-accent) px-3 py-1 rounded-full rotate-5 inline-block float-right mt-6"
  >
    they/them
  </span>
  <Socials />
  <h1
    class="text-7xl lg:text-[6.7rem] weight-book text-(--active-hue) indent-[-.25ch] my-2"
  >
    Lachlan Campbell
  </h1>
  <span
    class="md:hidden font-sans text-white bg-(--active-accent) px-3 py-1 rounded-full rotate-5 inline-block"
  >
    they/them
  </span>
  {<!-- prettier-ignore -->}
  <p class="my-6 weight-book text-lg/7 md:text-xl/9 text-pretty">
    Worldwide web design engineer & artist.<br />
    NYU Tisch Interactive Media Arts ’25.<br />
    Design Engineering Lead at <a
      href="https://watershed.com"
      class="font-sans"
    >Watershed</a>, San Francisco, CA.
  </p>
  <details
    class="group mb-8 rounded-[24px] p-2 shadow-border open:shadow-none open:backdrop-saturate-125 open:backdrop-brightness-125 transition-colors grid text-(--active-muted) open:text-(--active-text)"
  >
    <summary
      class="font-sans rounded-[24px] transition-colors cursor-pointer pl-1 flex items-center gap-2 font-bold outline-offset-8 group-open:outline-dark overflow-clip"
    >
      <svg
        class="-rotate-45 group-open:rotate-0 transition-transform"
        fill-rule="evenodd"
        clip-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="1.414"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        viewBox="0 0 32 32"
        preserveAspectRatio="xMidYMid meet"
        fill="currentColor"
        width="24"
        height="24"
      >
        <path
          d="M11.121,9.707c-0.39,-0.391 -1.024,-0.391 -1.414,0c-0.391,0.39 -0.391,1.024 0,1.414l4.95,4.95l-4.95,4.95c-0.391,0.39 -0.391,1.023 0,1.414c0.39,0.39 1.024,0.39 1.414,0l4.95,-4.95l4.95,4.95c0.39,0.39 1.023,0.39 1.414,0c0.39,-0.391 0.39,-1.024 0,-1.414l-4.95,-4.95l4.95,-4.95c0.39,-0.39 0.39,-1.024 0,-1.414c-0.391,-0.391 -1.024,-0.391 -1.414,0l-4.95,4.95l-4.95,-4.95Z"
        >
        </path>
      </svg>
      Full bio
    </summary>
    <div class="p-2 max-md:flex max-md:flex-col-reverse max-md:gap-6 md:pr-0">
      <div class="md:float-right md:w-2/5 md:ml-2 pb-px flex flex-col md:flex-col-reverse gap-4 items-center" style="shape-outside: circle(50%);">
      <fieldset class="flex justify-center items-center gap-1 w-fit font-sans shadow-border rounded-full">
        <input type="radio" name="portrait" value="metal" id='portrait-metal' checked hidden />
        <label for="portrait-metal" class="px-4 py-2 rounded-full transition-colors hover:bg-(--active-bg)">
          Stainless
        </label>
        <input type="radio" name="portrait" value="wood" id='portrait-wood' hidden />
        <label for='portrait-wood' class="px-4 py-2 rounded-full transition-colors hover:bg-(--active-bg) weight-book">
          Wood
        </label>
      </fieldset>
      <Image
        src={portraitMetal}
        alt="Mirror selfie of Lachlan wearing a pink raincoat in a circular mirror seamlessly blending into stainless steel"
        class="max-w-3/4 rounded-full"
        data-name="metal"
      />
      <Image
        src={portraitWood}
        alt="Mirror selfie of Lachlan in a green shirt in a woodshop"
        class="max-w-3/4 rounded-full"
        data-name="wood"
      />
      <style is:global>
      img[data-name="wood"] {
        display: none;
      }
      input[name="portrait"]:checked + label {
        background-color: var(--active-bg);
        box-shadow: var(--shadow-card);
      }
      fieldset:has(#portrait-wood:checked) ~ img[data-name="metal"] {
        display: none;
      }
      fieldset:has(#portrait-wood:checked) ~ img[data-name="wood"] {
        display: block;
      }
      </style>
    </div>

    <p class="text-pretty font-mono-slabs weight-book">
      I’m Lachlan Campbell (they/them, b. 2001), a design engineer & artist.
      As&nbsp;a middle schooler in central PA, I began working on open source
      projects, later attending & organizing hackathons in high school. From
      2017–20, I led storytelling at the nonprofit <a
        href="https://hackclub.com"
        class="font-sans"
      >Hack&nbsp;Club</a>, building programs for 30K+ teenagers to start coding.
      In&nbsp;2021, I&nbsp;joined
      <a href="https://watershed.com" class="font-sans">Watershed</a> to
      help companies decarbonize, launching our website, designing our branding,
      and developing our design system. I graduated from the NYU Tisch Interactive
      Media Arts program in spring 2025, where I made environmental
      storytelling with code, hardware, & physical fabrication in New York & Berlin.
      This summer, I returned to San Francisco to lead design engineering
      at Watershed, managing &gt;2 gigatons of carbon emissions.
    </p>

    </div>
  </details>
</header>

<section
  class="mx-4 md:mx-0 mt-12 mb-8 flex flex-wrap items-center gap-x-8 gap-y-4"
>
  <nav
    class="flex justify-center items-center gap-1 w-fit font-sans shadow-border rounded-full"
  >
    <span class="bg-white/65 px-4 py-2 rounded-full inline-block shadow-card">
      Projects
    </span>
    <a
      class="px-4 py-2 rounded-full inline-flex items-start gap-2 transition-colors hover:bg-white/50 weight-book"
      href="https://notebook.lachlanjc.com"
    >
      Notebook <span aria-hidden class="opacity-40 align-top">↗</span>
    </a>
    <a
      class="px-4 py-2 rounded-full inline-flex items-start gap-2 transition-colors hover:bg-white/50 weight-book"
      href="https://edu.lachlanjc.com"
    >
      Coursework <span aria-hidden class="opacity-40 align-top">↗</span>
    </a>
  </nav>
  <label class="inline-flex items-center gap-2 shrink-0">
    <input
      type="checkbox"
      switch
      id="highlights"
      class="accent-(--active-hue)"
    />
    Highlights only
  </label>
</section>

<section aria-label="Projects" class="grid gap-4 lg:gap-8 md:grid-cols-2">
  {allProjects.map((project) => <Project project={project} />)}
</section>

<script is:inline>
  function toggleProjects(feat) {
    const projects = document.querySelectorAll('[data-featured="false"]')
    projects.forEach((project) => {
      if (feat) {
        project.setAttribute("hidden", true)
      } else {
        project.removeAttribute("hidden")
      }
    })
  }

  const savedValue = sessionStorage.getItem("highlights")
  if (savedValue === "false") {
    document.getElementById("highlights").checked = false
    toggleProjects(false)
  }

  document.getElementById("highlights").addEventListener("change", (event) => {
    const feat = event.target.checked
    sessionStorage.setItem("highlights", feat)

    if (!document.startViewTransition) {
      toggleProjects(feat)
      return
    }
    document.startViewTransition(() => toggleProjects(feat))
  })
</script>

<footer
  class="max-md:mx-6 md:grid md:grid-cols-3 mt-12 md:mt-32 uppercase font-mono-slabs text-sm tracking-wide"
>
  <p class="px-4 md:px-6 py-2 border-[1.5px] max-md:rounded-t-xl md:rounded-l-full">
    Typeset in <a href="https://abcdinamo.com/typefaces/oracle" target="_blank">
      ABC Oracle
    </a>
  </p>
  <p class="px-4 md:px-6 py-2 max-md:border-x-[1.5px] md:border-y-[1.5px] text-center">
    Built with <a
      href="https://astro.build"
      target="_blank"
      class="!bg-[bottom_center]"
    >
      Astro
    </a>
  </p>
  <p
    class="px-4 md:px-6 py-2 border-[1.5px] max-md:rounded-b-xl md:rounded-r-full text-right"
  >
    Open source <a
      href="https://github.com/lachlanjc/site"
      target="_blank"
      class="!bg-[bottom_right]"
    >
      on GitHub
    </a>
  </p>
</footer>
