---
import Socials from './Socials.astro';
---

<header class="container mx-auto max-w-4xl py-24">
<span class="font-triple text-light bg-[#1527c6] px-3 py-1 rounded-full -rotate-5 inline-block">they/them</span>
	<h1 class="text-8xl font-bold text-avatar font-triple indent-[-.25ch] mt-2">Lachlan Campbell</h1>
	<p class="my-6 text-xl/9 text-[#1527c6]">
		Worldwide web design engineer & artist.<br />
    This spring: finishing NYU Interactive Media Arts in NYC.<br />
    This summer: leading design engineering at <a href="https://watershed.com" class="underline underline-offset-5 hover:underline-offset-3 transition-[text-underline-offset]">Watershed</a> in SF.
  </p>
	<Socials />
</header>
