<footer class="flex items-center gap-3 text-(--active-hue)">
  <img
    width="48"
    height="48"
    src="https://github.com/lachlanjc.png"
    alt="Lachlan's avatar"
    loading="eager"
    class="rounded-full mr-2"
  />
  <a
    href="https://bsky.app/profile/lachlanjc.com"
    title="Bluesky"
    target="_blank"
    rel="me"
    class=""
  >
    <svg
      width="36"
      height="36"
      viewBox="0 0 32 32"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16 4C26 4 28 6 28 16C28 26 26 28 16 28C6 28 4 26 4 16C4 6 6 4 16 4ZM16 15.5864C15.2997 14.1379 13.3924 11.4387 11.6192 10.1075C10.3398 9.14691 8.26658 8.40368 8.26658 10.7687C8.26658 11.2409 8.53737 14.7363 8.6962 15.3039C9.2482 17.2768 11.26 17.78 13.0495 17.4754C9.92148 18.0077 9.12578 19.7712 10.8443 21.5346C14.1081 24.8837 15.5353 20.6945 15.9011 19.6209C15.9681 19.4241 15.9995 19.332 16 19.4103C16.0004 19.332 16.0318 19.4241 16.0988 19.6209C16.465 20.6951 17.8924 24.8832 21.1556 21.5346C22.8741 19.7712 22.0784 18.0078 18.9504 17.4754C20.7399 17.78 22.7516 17.2768 23.3037 15.3039C23.4625 14.7364 23.7333 11.241 23.7333 10.7687C23.7333 8.40368 21.6603 9.14691 20.3808 10.1075C18.6075 11.4387 16.7003 14.138 16 15.5864Z"
      >
      </path>
    </svg>
  </a>
  <a
    href="https://github.com/lachlanjc"
    title="GitHub"
    target="_blank"
    rel="me"
    class=""
  >
    <svg
      fill-rule="evenodd"
      clip-rule="evenodd"
      stroke-linejoin="round"
      stroke-miterlimit="1.414"
      xmlns="http://www.w3.org/2000/svg"
      aria-label="github"
      viewBox="0 0 32 32"
      preserveAspectRatio="xMidYMid meet"
      fill="currentColor"
      width="36"
      height="36"
    >
      <path
        d="M18.837,27.966c8.342,-0.241 9.163,-1.997 9.163,-11.966c0,-11 -1,-12 -12,-12c-11,0 -12,1 -12,12c0,9.995 0.826,11.734 9.228,11.968c0.073,-0.091 0.1,-0.205 0.1,-0.321c0,-0.25 -0.01,-2.816 -0.015,-3.699c-3.037,0.639 -3.678,-1.419 -3.678,-1.419c-0.497,-1.222 -1.213,-1.548 -1.213,-1.548c-0.991,-0.656 0.075,-0.643 0.075,-0.643c1.096,0.075 1.673,1.091 1.673,1.091c0.974,1.617 2.556,1.15 3.178,0.879c0.099,-0.683 0.381,-1.15 0.693,-1.414c-2.425,-0.267 -4.974,-1.175 -4.974,-5.23c0,-1.155 0.426,-2.099 1.124,-2.839c-0.113,-0.268 -0.487,-1.344 0.107,-2.8c0,0 0.917,-0.285 3.003,1.084c0.871,-0.235 1.805,-0.352 2.734,-0.356c0.927,0.004 1.861,0.121 2.734,0.356c2.085,-1.369 3,-1.084 3,-1.084c0.596,1.456 0.221,2.532 0.108,2.8c0.7,0.74 1.123,1.684 1.123,2.839c0,4.065 -2.553,4.96 -4.986,5.221c0.392,0.327 0.741,0.973 0.741,1.96c0,0.946 -0.006,2.619 -0.01,3.728c-0.002,0.549 -0.003,0.959 -0.003,1.074c0,0.109 0.029,0.224 0.095,0.319Z"
      >
      </path>
    </svg>
  </a>
  <a
    href="https://threads.net/@lachlan.jc"
    title="Threads"
    target="_blank"
    rel="me"
    class=""
  >
    <svg
      width="36"
      height="36"
      viewBox="0 0 32 32"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M27.986 15.968C27.986 26.968 26.986 27.968 15.986 27.968C4.98602 27.968 3.98602 26.968 3.98602 15.968C3.98602 4.96799 4.98602 3.96799 15.986 3.96799C26.986 3.96799 27.986 4.96799 27.986 15.968ZM20.0202 15.2355C20.1 15.2697 20.1788 15.3055 20.2563 15.3427C21.3522 15.8684 22.1537 16.6644 22.5741 17.6445C23.16 19.0112 23.2136 21.2374 21.4358 23.0135C20.077 24.3711 18.4275 24.9838 16.0875 25H16.0769C13.4449 24.9818 11.4209 24.0961 10.0611 22.3676C8.85117 20.8294 8.22703 18.6891 8.20606 16.0063L8.20599 16L8.20606 15.9937C8.22703 13.3108 8.85117 11.1706 10.0611 9.63243C11.4209 7.90392 13.4449 7.01823 16.0769 7H16.0875C18.7249 7.0183 20.7718 7.90063 22.1714 9.62256C22.862 10.4721 23.3695 11.4965 23.692 12.6852L22.1782 13.0891C21.9121 12.1233 21.5085 11.295 20.9732 10.6364C19.8815 9.29326 18.2361 8.60418 16.0822 8.58817C13.9438 8.60406 12.3267 9.28983 11.2752 10.6265C10.2906 11.8781 9.78171 13.686 9.76273 16C9.78171 18.3139 10.2906 20.1218 11.2752 21.3735C12.3267 22.7102 13.9439 23.3959 16.0822 23.4118C18.01 23.3976 19.2855 22.939 20.3467 21.8789C21.5578 20.6687 21.5352 19.1844 21.1479 18.2811C20.9201 17.7498 20.5076 17.3077 19.951 16.9718C19.8154 17.9822 19.5084 18.784 19.0229 19.4028C18.3837 20.2175 17.4675 20.6631 16.2996 20.7272C15.4153 20.7754 14.5643 20.5622 13.9036 20.126C13.1222 19.6101 12.6649 18.8204 12.6159 17.9024C12.5195 16.0926 13.9552 14.7902 16.1883 14.6616C16.9811 14.6161 17.7226 14.6519 18.4083 14.7685C18.3173 14.2117 18.1334 13.7706 17.8586 13.4513C17.4808 13.0128 16.8973 12.7879 16.1239 12.783L16.1024 12.7829C15.4815 12.7829 14.6383 12.9567 14.1011 13.7718L12.8093 12.8857C13.5285 11.7945 14.6969 11.1948 16.1018 11.1948L16.1337 11.1948C18.4825 11.2098 19.8813 12.6755 20.0202 15.2355ZM14.1703 17.8161C14.2205 18.7571 15.2373 19.1964 16.216 19.1413C17.1743 19.0887 18.262 18.7127 18.4474 16.3968C17.9503 16.2882 17.4034 16.2314 16.8189 16.2314C16.6412 16.2314 16.4604 16.2366 16.2761 16.2472C14.6668 16.3399 14.1332 17.1184 14.1703 17.8161Z"
      >
      </path>
    </svg>
  </a>
  <a
    href="https://twitter.com/lachlanjc"
    title="Twitter"
    target="_blank"
    rel="me"
    class=""
  >
    <svg
      width="36"
      height="36"
      viewBox="0 0 32 32"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M27.986 15.968C27.986 26.968 26.986 27.968 15.986 27.968C4.98602 27.968 3.98602 26.968 3.98602 15.968C3.98602 4.96799 4.98602 3.96799 15.986 3.96799C26.986 3.96799 27.986 4.96799 27.986 15.968ZM22.361 9.50699H20.1557L16.5217 13.661L13.3797 9.50699H8.82904L14.2664 16.617L9.11304 22.507H11.3197L15.297 17.9623L18.773 22.507H23.211L17.543 15.0137L22.361 9.50699ZM20.6037 21.187H19.3817L11.4044 10.7577H12.7157L20.6037 21.187Z"
      >
      </path>
    </svg>
  </a>
  <a
    href="https://mastodon.social/@lachlanjc"
    title="Mastodon"
    target="_blank"
    rel="me"
    class=""
    style="display: none;"
  >
    <svg
      width="36"
      height="36"
      viewBox="0 0 32 32"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M27.986 15.968C27.986 26.968 26.986 27.968 15.986 27.968C4.98601 27.968 3.98601 26.968 3.98601 15.968C3.98601 4.96799 4.98601 3.96799 15.986 3.96799C26.986 3.96799 27.986 4.96799 27.986 15.968ZM19.9273 8.35987C21.7016 8.61799 23.1984 9.95007 23.4295 11.6404C23.5302 12.6459 23.4803 14.1568 23.4561 14.8909C23.4501 15.0735 23.4456 15.208 23.4455 15.2748C23.4455 15.3735 23.4309 16.2744 23.4251 16.3695C23.2696 18.7848 21.7394 19.7387 20.1315 20.0425C20.1097 20.049 20.0843 20.0533 20.0588 20.0583C19.0394 20.2542 17.9473 20.3064 16.9112 20.335C16.6634 20.3414 16.4164 20.3414 16.1686 20.3414C15.1384 20.3417 14.1119 20.2217 13.1104 19.9839C13.1051 19.9825 13.0995 19.9824 13.0942 19.9836C13.0888 19.9848 13.0838 19.9871 13.0796 19.9905C13.0753 19.994 13.072 19.9983 13.0697 20.0032C13.0675 20.0082 13.0665 20.0136 13.0668 20.0189C13.0951 20.3398 13.166 20.6557 13.2775 20.9585C13.4163 21.3088 13.9009 22.1504 15.7029 22.1504C16.75 22.1523 17.7936 22.0323 18.812 21.7929C18.8172 21.7917 18.8225 21.7917 18.8277 21.7928C18.8329 21.794 18.8378 21.7962 18.8419 21.7995C18.8461 21.8027 18.8495 21.8068 18.8519 21.8115C18.8542 21.8161 18.8555 21.8213 18.8556 21.8265V23.012C18.8554 23.0176 18.8539 23.0231 18.8513 23.028C18.8486 23.033 18.8449 23.0373 18.8403 23.0406C18.5225 23.2673 18.0953 23.4008 17.7215 23.5176C17.7039 23.5231 17.6864 23.5285 17.669 23.534C17.4981 23.5869 17.3251 23.6333 17.1503 23.6734C15.5607 24.0297 13.9017 23.9435 12.3591 23.4246C10.9183 22.9269 9.44765 21.7071 9.08435 20.2413C8.89034 19.4477 8.75364 18.6415 8.67528 17.8289C8.59295 16.9402 8.56543 16.05 8.53789 15.1586C8.52751 14.8228 8.51713 14.4869 8.50381 14.1508C8.46966 13.2942 8.48927 12.3604 8.6731 11.5181C9.05529 9.80778 10.6305 8.61084 12.3555 8.35987C12.3909 8.35471 12.4301 8.34793 12.4759 8.33999C12.8173 8.28089 13.5299 8.15752 15.8468 8.15752H15.8664C18.4937 8.15752 19.6279 8.31626 19.9273 8.35987ZM19.2639 17.6673H20.9547L20.9562 13.4679C20.9562 12.6095 20.7336 11.9278 20.2884 11.423C19.8278 10.9189 19.2254 10.6601 18.4785 10.6601C17.6146 10.6601 16.9606 10.9876 16.5247 11.6418L16.1033 12.3368L15.6825 11.6418C15.2466 10.9876 14.5926 10.6601 13.7273 10.6601C12.9796 10.6601 12.3773 10.9189 11.9181 11.423C11.4729 11.9283 11.2503 12.6099 11.2503 13.4679V17.6673H12.9396V13.5917C12.9404 12.7336 13.3073 12.296 14.0419 12.296C14.8542 12.296 15.2619 12.8137 15.2619 13.8362V16.067H16.9425V13.8362C16.9425 12.8137 17.3493 12.296 18.1617 12.296C18.9006 12.296 19.2639 12.7336 19.2639 13.5917V17.6673Z"
      >
      </path>
    </svg>
  </a>
  <a
    href="https://instagram.com/lachlan.jc"
    title="Instagram"
    target="_blank"
    rel="me"
    class=""
  >
    <div class="css-2snii7">
      <svg
        fill-rule="evenodd"
        clip-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="1.414"
        xmlns="http://www.w3.org/2000/svg"
        aria-label="instagram-fill"
        viewBox="0 0 32 32"
        preserveAspectRatio="xMidYMid meet"
        fill="currentColor"
        width="36"
        height="36"
      >
        <g>
          <path
            d="M11.9995 16C11.9995 18.2095 13.7905 20.0005 16 20.0005C18.2095 20.0005 20.0005 18.2095 20.0005 16C20.0005 13.7905 18.2095 11.9995 16 11.9995C13.7905 11.9995 11.9995 13.7905 11.9995 16Z"
          >
          </path>
          <path
            d="M27.9999 16C27.9999 6 25.9999 4 15.9999 4C5.99988 4 3.99988 6 3.99988 16C3.99988 26 5.99988 28 15.9999 28C25.9999 28 27.9999 26 27.9999 16ZM9.83803 16C9.83803 12.598 12.595 9.838 16 9.838C19.402 9.838 22.162 12.595 22.162 16C22.162 19.402 19.405 22.162 16 22.162C12.598 22.162 9.83803 19.405 9.83803 16ZM22.405 11.035C23.2 11.035 23.845 10.39 23.845 9.595C23.845 8.8 23.2 8.155 22.405 8.155C21.61 8.155 20.965 8.8 20.965 9.595C20.965 10.39 21.61 11.035 22.405 11.035Z"
          >
          </path>
        </g>
      </svg>
    </div>
  </a>
  <a href="mailto:lachlanjc@hey.com" title="Email" class="">
    <svg
      fill-rule="evenodd"
      clip-rule="evenodd"
      stroke-linejoin="round"
      stroke-miterlimit="1.414"
      xmlns="http://www.w3.org/2000/svg"
      aria-label="email"
      viewBox="0 0 32 32"
      preserveAspectRatio="xMidYMid meet"
      fill="currentColor"
      width="36"
      height="36"
    >
      <path
        d="M25.709,21.048c0.241,-1.212 0.291,-2.792 0.291,-5.048c0,-2.256 -0.05,-3.836 -0.291,-5.048c-0.216,-1.11 -0.533,-1.577 -0.864,-1.853c-0.384,-0.32 -1.094,-0.641 -2.597,-0.844c-1.531,-0.209 -3.522,-0.255 -6.248,-0.255c-2.725,0 -4.717,0.046 -6.248,0.255c-1.503,0.203 -2.213,0.524 -2.597,0.844c-0.331,0.276 -0.648,0.743 -0.864,1.853c-0.241,1.212 -0.291,2.792 -0.291,5.048c0,2.256 0.05,3.836 0.291,5.048c0.216,1.11 0.533,1.577 0.864,1.853c0.384,0.32 1.094,0.641 2.597,0.843c1.531,0.21 3.523,0.256 6.248,0.256c2.726,0 4.717,-0.046 6.248,-0.256c1.503,-0.202 2.213,-0.523 2.597,-0.843c0.331,-0.276 0.648,-0.743 0.864,-1.853Zm-9.709,4.952c11,0 12,-0.833 12,-10c0,-9.167 -1,-10 -12,-10c-11,0 -12,0.833 -12,10c0,9.167 1,10 12,10Zm-8.651,-14.774c0.411,-0.344 1.023,-0.289 1.366,0.124c1.335,1.601 5.617,5.318 7.285,6.592c1.696,-1.296 5.931,-4.963 7.285,-6.592c0.343,-0.413 0.955,-0.468 1.366,-0.124c0.412,0.344 0.467,0.957 0.124,1.37c-0.695,0.838 -2.02,2.129 -3.429,3.404c1.409,1.275 2.734,2.566 3.429,3.404c0.343,0.412 0.288,1.026 -0.124,1.37c-0.411,0.344 -1.023,0.289 -1.366,-0.124c-0.662,-0.798 -2.015,-2.083 -3.422,-3.339c-1.102,0.95 -2.137,1.789 -2.841,2.291c-0.302,0.213 -0.644,0.398 -1.022,0.398c-0.378,0 -0.72,-0.185 -1.021,-0.398c-0.691,-0.492 -1.728,-1.335 -2.835,-2.292c-1.414,1.264 -2.775,2.556 -3.429,3.34c-0.343,0.413 -0.955,0.468 -1.366,0.124c-0.411,-0.344 -0.467,-0.957 -0.124,-1.37l0.001,-0.001c0.683,-0.822 2.018,-2.119 3.436,-3.403c-1.418,-1.284 -2.753,-2.582 -3.436,-3.403l-0.001,-0.001c-0.343,-0.413 -0.287,-1.026 0.124,-1.37Z"
      >
      </path>
    </svg>
  </a>
</footer>
