---
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Lachlan Campbell" />
    <meta property="og:url" content="https://lachlanjc.com/" />
    <meta name="twitter:site" content="@lachlanjc" />
    <title>Lachlan Campbell – @lachlanjc</title>
    <meta property="og:title" content="Lachlan Campbell – @lachlanjc" />
    <meta name="twitter:title" content="Lachlan Campbell – @lachlanjc" />
    <meta
      name="description"
      content="Worldwide web design engineer in NYC, working on climate at Watershed. NYU ’25, Interactive Media Arts."
    />
    <meta
      property="og:description"
      content="Worldwide web design engineer in NYC, working on climate at Watershed. NYU ’25, Interactive Media Arts."
    />
    <meta
      name="twitter:description"
      content="Worldwide web design engineer in NYC, working on climate at Watershed. NYU ’25, Interactive Media Arts."
    />
    <meta
      property="og:image"
      content="https://lachlanjc.com/opengraph-image.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="https://lachlanjc.com/opengraph-image.jpg"
    />
    <meta name="theme-color" content="oklch(0.67 0.18 117.23)" />
    <link
      rel="icon"
      href="https://github.com/lachlanjc.png"
      type="image/png"
      sizes="any"
    />
    <link
      rel="apple-touch-icon"
      href="https://github.com/lachlanjc.png"
      type="image/png"
      sizes="180x180"
    />
    <Analytics />
  </head>
  <body class="bg-(--active-bg) text-(--active-text)">
    <main class="container mx-auto max-w-4xl py-12 md:px-4">
      <slot />
    </main>
  </body>
</html>
